body {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    font-size: large;
    padding: 32px;
    background-color: black;
    color: rgb(226, 226, 105);
    margin-bottom: 50px;
}


.header-links {
    display: flex;
    gap: 32px;
    margin-right: 20px;
    font-weight: 400;
}

a {
    color: rgb(226, 226, 105);
}


.hero {
    display: flex;
    padding: 32px;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 50px;
    gap: 32px;
    background-image: url("https://wallpapers.com/images/featured/music-notes-background-094jpwqvx4x923th.jpg");
    background-size: cover;
    background-position: center;

}

.hero-info {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    background-color: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: rgb(0, 0, 0);
}


.additional-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    background: #09e2ed;
    background: linear-gradient(151deg, rgba(9, 226, 237, 1) 0%, rgba(109, 197, 222, 1) 39%, rgba(251, 255, 0, 1) 100%);

}

h2 {
    display: flex;
    justify-content: center;
}

.img-text-container {
    display: flex;
}

.img-text-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 50px;
    padding: 32px;
    background-image: url("https://dustinmcgrewphoto.com/cdn/shop/files/SY308913-Edit-2.jpg?v=1701367483");
}


.calendar-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: rgb(0, 0, 0);
    padding: 10px;
}

.google-calendar {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.contact-us {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 50px;
}

.contact-us-block {
    text-align: center;
}

.footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    background-color: black;
    color: white;
}

.copyright-year {
    display: flex;
}

img {
    width: 250px;
    height: 250px;
}

iframe {
    margin-bottom: 50px;
}

#email {
    color: blue;
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .google-calendar {
        width: 100%;
    }
}

/* Widths that fall around a smaller laptop --> tablet */

@media (max-width: 1023px) and (min-width: 490px) {
    body {
        width: 100vw;
        position: absolute;
    }
    
    .header {
        flex-wrap: wrap;
    }

    .hero {
        flex-wrap: wrap;
    }

    .additional-info {
        flex-wrap: wrap;
    }

    .img-text-container {
        flex-wrap: wrap;
    }

    .calendar {
        flex-wrap: wrap;
    }

    .calendar-info {
        flex-wrap: wrap;
    }

    .google-calendar {
        width: 100%;
    }

    .contact-us {
        flex-wrap: wrap;
    }

    .footer {
        flex-wrap: wrap;
    }
}

/* Phone sizes */

@media (max-width: 489px) and (min-width: 395px) {
     body {
        width: 100vw;
        position: absolute;
    }
    
    .header {
        flex-wrap: wrap;
        font-size: 4.1vw;
    }

    .hero {
        flex-wrap: wrap;
    }

    .additional-info {
        flex-wrap: wrap;
    }

    .img-text-container {
        flex-wrap: wrap;
    }

    .calendar {
        flex-wrap: wrap;
    }

    .calendar-info {
        flex-wrap: wrap;
    }

    .google-calendar {
        width: 100%;
    }

    .contact-us {
        flex-wrap: wrap;
    }

    .footer {
        flex-wrap: wrap;
    }
}

@media (max-width: 394px) and (min-width: 321px) {

    body {
        width: 100vw;
        position: absolute;
    }
    
    .header {
        flex-wrap: wrap;
        font-size: 4.1vw;
    }

    .hero {
        flex-wrap: wrap;
    }

    .additional-info {
        flex-wrap: wrap;
    }

    .img-text-container {
        flex-wrap: wrap;
    }

    .calendar {
        flex-wrap: wrap;
        padding: 10px;
    }

    .calendar-info {
        flex-wrap: wrap;
    }

    .google-calendar {
        width: 100%;
    }

    .contact-us {
        flex-wrap: wrap;
    }

    .footer {
        flex-wrap: wrap;
    }
}

/* Absolute bare-min of device width */
@media (max-width: 320px) {
    body {
        width: 120vw;
        position: absolute;
    }
    
    .header {
        flex-wrap: wrap;
        font-size: 4.1vw;
    }

    .header-links {
        flex-wrap: wrap;
    }

    .hero {
        flex-wrap: wrap;
    }

    .additional-info {
        flex-wrap: wrap;
    }

    .img-text-container {
        flex-wrap: wrap;
    }

    .calendar {
        flex-wrap: wrap;
        padding: 10px;
    }

    .calendar-info {
        flex-wrap: wrap;
    }

    .google-calendar {
        width: 100%;
    }

    .contact-us {
        flex-wrap: wrap;
    }

    .footer {
        flex-wrap: wrap;
    }

    img {
        width: 100px;
        height: 100px;
    }
}